@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


:root{
    --letraColorOscuro: black;
    --letraColorClaro: white;
    --fondoClaro: white;
    --fondoOscuro: black;
    --tituloSize: 20px;
    --parrafoSize: 20px;
    --separacion: 80px;
    --altoSeccion: 50vh;
    --fuente:'Pacifico', cursive;
    --fuente2:'Nunito Sans';
}

* {
    margin:0;
    padding:0;
}

.separador{
    width: 80%;
    margin-left: 13%;
    
}

.sectionA{
    width: 100%;
    margin: auto;
    min-height: var(--altoSeccion);
    padding: 10px;
    color: var(--letraColorOscuro);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--fondoClaro);
}

.sectionB{
    width: 100%;
    margin: auto;
    min-height: var(--altoSeccion);
    padding: 10px;
    color: var(--letraColorClaro);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--fondoOscuro);
}

.sectionC{
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 10px;
    color: var(--letraColorOscuro);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--fondoClaro);
}

.sectionC h2{
    font-family: 'Nunito Sans', cursive;
}

.titulo{
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: var(--tituloSize);
}

.contenedorDoble{
    width: 80%;
    margin: auto;
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--separacion);
}

.contenedorSimple{
    width: 80%;
    margin: auto;
    padding: 20px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.item{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.item p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: var(--parrafoSize);
    font-family: 'Nunito Sans', cursive;
    text-align: justify;
    justify-content: start;
    align-items: center;
}

.item iframe{
    width: 100%;
}

.mapa{
    border-image: initial;
    border-style:solid;
    border-width: 4px;
    border-color: grey;
}

.icono{
    width: 51px;
    height: 40px;
}

.item img{
    width: 100%;
    height: auto;
}